@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #ded6c4;
}

.title {
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Lato";
  font-size: 12pt;
}

.title h1 {
  letter-spacing: 0.75px;
  color: rgb(13, 97, 138);
}

.wrapper {
  width: 50vw;
  height: 70vh;
  margin: 0 auto 2.5vh;

}

.chat {
  background: rgb(255, 255, 255);
  border-radius: 10pt;
  overflow: scroll;
  height: 80%;
  display: flex;
  flex-direction: column;
  padding: 30px 20px 0px 20px;
}

.messages {
  flex: 1 0 auto;
  font-family: "Lato";
  font-size: 13pt;
}

.messages div {
  max-width: 60%;
  width: fit-content;
  display: block;
  margin: 5px;
  padding: 15px;
  border-radius: 7px;
  white-space: pre-line;
}

.messages div a {
  color: #ded6c4;
}

.messages div a:hover {
  color: rgb(13, 97, 138);
}

.messages .bot {
  text-align: left;
  margin-right: auto;
  background: black;
  color: white;
  font-family: "Lato";
  font-size: 13pt;
}

.messages .self {
  text-align: right;
  margin-right: 20px;
  margin-left: auto;
  background: rgb(13, 97, 138);
  color: white;
  font-family: "Lato";
  font-size: 13pt;
}

.actions {
  flex-shrink: 0;
  width: 100%;
  position: sticky;
  bottom: -1px;
  padding: 10px 0px 20px;
  background: white;
}

.actions input {
  height: 30px;
  display: block;
  width: 100%;
  outline: 0;
  border-top: 0px;
  border-right: 0px;
  border-bottom: 2px solid black;
  border-left: 0px;
}

input:focus {
  border-bottom: 2px solid rgb(13, 97, 138);
}

@media all and (min-width: 720px) {
  .wrapper {
    width: 40vw;
    height: 90vh;
    margin: 0 auto 2.5vh;
  }
}

@media all and (min-width: 1280px) {
  .wrapper {
    width: 27.5vw;
  }
  .title {
    height: 7.5vh;
  }
}

.placeholder text {
  font-family: "Lato";
  font-size: 15pt;
}
